@import 'variables';
@import 'fonts';
@import '~bootstrap/scss/bootstrap';

@import 'home';
@import 'menu';
@import 'intro';
@import 'schedule';
@import 'investment';
@import 'speakers';
@import 'event';
@import 'sponsors';
@import 'buy';
@import 'contact';
@import 'modal';

html, body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1.title {
    background-color: $black;
    color: #fff;
    font-family: $font-neon;
    font-size: 5rem;
    padding: 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include media-breakpoint-down(sm) {
        font-size: 3.5rem;
    }
}
