.buy {
    background-color: $black;
    color: #fff;
    font-family: $font-aileron-semibold;
    margin: 3rem 0;
    padding: 4rem;
    text-transform: uppercase;

    .btn-buy {
        background-color: $cyan;
        color: $black;
        font-family: $font-heavitas;
        font-size: 2rem;
        padding: 0rem 2rem;
        position: relative;
        text-align: center;
        z-index: 110;
    }

    .buy-note {
        font-size: 1rem;
    }

    .buy-disclaimer {
        border: 1px solid #fff;
        font-size: 0.7rem;
        padding: 1rem;
    }

    .buy-patter-1 {
        left: -128px;
        position: absolute;
        top: 1px;
        width: 200px;
    }

    .buy-patter-2 {
        position: absolute;
        right: -64px;
        top: -16px;
        width: 100px;
    }
}
