.contact {
    padding: 4rem;
    text-transform: uppercase;

    .contact-title {
        font-family: $font-heavitas;
        font-size: 2rem;
    }

    .contact-subtitle {
        font-family: $font-aileron-regular;
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .contact-mail {
        font-family: $font-aileron-regular;
        font-size: 1rem;
        margin-top: 0.5rem;

        a {
            &:link, &:visited, &:active {
                color: $black;
                text-decoration: none;
            }
        }
    }

    .contact-social-media {
        font-family: $font-heavitas;
        font-size: 1.6rem;
        margin-top: 3rem;

        .social-media-icons {
            img {
                margin-right: 0.2rem;
                width: 25px;
            }
        }
    }

    form.contact-form {
        padding: 0 2rem;

        label {
            font-family: $font-aileron-regular;
            font-size: 1rem;
        }

        input,
        textarea {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 1px solid thin;
            outline: 0 !important;
            -webkit-appearance: none;

            &:focus {
                outline: none;
            }
        }

        textarea {
            resize: none;
        }

        .btn-contact {
            background-color: $violet;
            color: $black;
            font-family: $font-heavitas;
            font-size: 1.5rem;
            padding: 0rem 2rem;
            text-align: center;
        }
    }

    .alert {
        text-transform: none;
    }

    @include media-breakpoint-down(md) {
        padding: 2rem 0;

        .contact-title,
        .contact-subtitle,
        .contact-mail,
        .contact-social-media {
            text-align: center;
        }

        .social-media-icons {
            justify-content: center;
        }

        form.contact-form {
            margin-top: 3rem;
            padding: 0;
        }
    }
}
