.event {
    padding: 2rem 0;

    &.mobile {
        display: none;
    }

    .black-bg {
        background-color: $black;
    }

    .left-item-wrapper {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    .right-item-wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    .mt--5 {
        margin-top: -5rem;
    }

    .event-item {
        height: 365px;
        position: relative;
        width: 350px;

        &.mt-5 {
            margin-top: 5rem;
        }

        &.event-title {
            color: #fff;
            padding: 5rem 2rem;
            text-transform: uppercase;

            h2 {
                font-family: $font-neon;
                font-size: 4rem;
                margin: 0;
            }

            h3 {
                font-family: $font-heavitas;
                font-size: 2rem;
                margin: 2rem 0;
            }
        }

        .post-it {
            min-height: 150px;
            line-height: 1.2;
            padding: 1rem 1rem 1rem 2rem;
            position: absolute;
            top: 40px;
            width: 240px;
            z-index: 100;

            &.left {
                left: -100px;
                text-align: right;
            }

            &.right {
                right: -100px;
                text-align: left;
            }

            .keynote-time {
                color: #373839;
                font-family: $font-aileron-bold;
            }

            .keynote-title {
                color: #231F20;
                font-family: $font-heavitas;
                font-size: 1.2rem;
                text-transform: uppercase;
            }

            .keynote-speaker {
                color: #231F20;
                font-family: $font-aileron-light;
                font-size: 1.2rem;
            }

            &.violet-bg-left {
                background-color: $violet;

                &::before {
                    content: '';
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left:15px solid $violet;
                    height: 0;
                    position: absolute;
                    right: -15px;
                    top: 33px;
                    width: 0;
                }
            }

            &.cyan-bg-left {
                background-color: $cyan;

                &::before {
                    content: '';
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left:15px solid $cyan;
                    height: 0;
                    position: absolute;
                    right: -15px;
                    top: 33px;
                    width: 0;
                }
            }

            &.light-green-bg-left {
                background-color: $light-green;

                &::before {
                    content: '';
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left:15px solid $light-green;
                    height: 0;
                    position: absolute;
                    right: -15px;
                    top: 33px;
                    width: 0;
                }
            }

            &.violet-bg-right {
                background-color: $violet;

                &::before {
                    content: '';
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right:15px solid $violet;
                    height: 0;
                    left: -15px;
                    position: absolute;
                    top: 33px;
                    width: 0;
                }
            }

            &.cyan-bg-right {
                background-color: $cyan;

                &::before {
                    content: '';
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right:15px solid $cyan;
                    height: 0;
                    left: -15px;
                    position: absolute;
                    top: 33px;
                    width: 0;
                }
            }

            &.light-green-bg-right {
                background-color: $light-green;

                &::before {
                    content: '';
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right:15px solid $light-green;
                    height: 0;
                    left: -15px;
                    position: absolute;
                    top: 33px;
                    width: 0;
                }
            }

        }
    }

    .event-pattern-left-1 {
        left: -190px;
        position: absolute;
        top: 0;
        width: 150px;
        z-index: 110;
    }

    .event-pattern-left-2 {
        left: -110px;
        position: absolute;
        top: 202px;
        width: 60px;
    }

    .event-pattern-left-3 {
        left: -100px;
        position: absolute;
        top: 28px;
        width: 160px;
    }

    .event-pattern-left-4 {
        left: 80px;
        position: absolute;
        top: 69px;
        width: 130px;
    }

    .event-pattern-right-1 {
        position: absolute;
        right: -95px;
        top: 140px;
        width: 141px;
        z-index: 110;
    }

    .event-pattern-right-2 {
        position: absolute;
        right: -70px;
        top: 102px;
        width: 90px;
    }


    @include media-breakpoint-down(md) {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;

            .left-item-wrapper {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
            }

            .right-item-wrapper {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
            }

            .event-title {
                color: #fff;
                padding: 3rem 2rem 0;
                text-transform: uppercase;

                h2 {
                    font-family: $font-neon;
                    font-size: 4rem;
                    line-height: 0.8;
                    margin: 0;
                }

                h3 {
                    font-family: $font-heavitas;
                    font-size: 2rem;
                    margin: 1rem 0;
                }
            }

            .post-it {
                min-height: 230px;
                line-height: 1.2;
                padding: 1rem 1rem 1rem 2rem;
                position: relative;
                width: 240px;

                &.mt-5 {
                    margin-top: 5rem;
                }

                .keynote-time {
                    color: #373839;
                    font-family: $font-aileron-bold;
                }

                .keynote-title {
                    color: #231F20;
                    font-family: $font-heavitas;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                }

                .keynote-speaker {
                    color: #231F20;
                    font-family: $font-aileron-light;
                    font-size: 1.2rem;
                }

                &.violet-bg-left {
                    background-color: $violet;

                    // &::before {
                    //     content: '';
                    //     border-top: 15px solid transparent;
                    //     border-bottom: 15px solid transparent;
                    //     border-left:15px solid $violet;
                    //     height: 0;
                    //     position: absolute;
                    //     right: -15px;
                    //     top: 33px;
                    //     width: 0;
                    //     z-index: 1;
                    // }
                }

                &.cyan-bg-left {
                    background-color: $cyan;

                    // &::before {
                    //     content: '';
                    //     border-top: 15px solid transparent;
                    //     border-bottom: 15px solid transparent;
                    //     border-left:15px solid $cyan;
                    //     height: 0;
                    //     position: absolute;
                    //     right: -15px;
                    //     top: 33px;
                    //     width: 0;
                    //     z-index: 1;
                    // }
                }

                &.light-green-bg-left {
                    background-color: $light-green;

                    // &::before {
                    //     content: '';
                    //     border-top: 15px solid transparent;
                    //     border-bottom: 15px solid transparent;
                    //     border-left:15px solid $light-green;
                    //     height: 0;
                    //     position: absolute;
                    //     right: -15px;
                    //     top: 33px;
                    //     width: 0;
                    //     z-index: 1;
                    // }
                }

                &.violet-bg-right {
                    background-color: $violet;

                    // &::before {
                    //     content: '';
                    //     border-top: 15px solid transparent;
                    //     border-bottom: 15px solid transparent;
                    //     border-right: 15px solid $violet;
                    //     height: 0;
                    //     position: absolute;
                    //     left: -15px;
                    //     top: 92px;
                    //     width: 0;
                    //     z-index: 1;
                    // }
                }

                &.cyan-bg-right {
                    background-color: $cyan;

                    // &::before {
                    //     content: '';
                    //     border-top: 15px solid transparent;
                    //     border-bottom: 15px solid transparent;
                    //     border-right: 15px solid $cyan;
                    //     height: 0;
                    //     position: absolute;
                    //     right: -15px;
                    //     top: 33px;
                    //     width: 0;
                    //     z-index: 1;
                    // }
                }

                &.light-green-bg-right {
                    background-color: $light-green;

                    // &::before {
                    //     content: '';
                    //     border-top: 15px solid transparent;
                    //     border-bottom: 15px solid transparent;
                    //     border-right: 15px solid $light-green;
                    //     height: 0;
                    //     position: absolute;
                    //     right: -15px;
                    //     top: 33px;
                    //     width: 0;
                    //     z-index: 1;
                    // }
                }

            }
        }
    }

    @include media-breakpoint-down(sm) {
        &.mobile {
            .event-title {
                padding: 3rem 2rem 0;

                h2 {
                    font-size: 3rem;
                }

                h3 {
                    font-size: 1.5rem;
                }
            }

            .post-it {
                min-height: 230px;
                padding: 1rem 0.3rem;
                width: 187px;
            }
        }
    }
}
