@font-face {
    font-family: 'neonregular';
    src: url('fonts/neon-webfont.woff2') format('woff2'),
         url('fonts/neon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-neon: 'neonregular';

@font-face {
    font-family: 'heavitasregular';
    src: url('fonts/heavitas-webfont.woff2') format('woff2'),
         url('fonts/heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-heavitas: 'heavitasregular';

@font-face {
    font-family: 'aileronthin';
    src: url('fonts/aileron-thin-webfont.woff2') format('woff2'),
         url('fonts/aileron-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-aileron-thin: 'aileronthin';

@font-face {
    font-family: 'aileronsemibold';
    src: url('fonts/aileron-semibold-webfont.woff2') format('woff2'),
         url('fonts/aileron-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-aileron-semibold: 'aileronsemibold';

@font-face {
    font-family: 'aileronregular';
    src: url('fonts/aileron-regular-webfont.woff2') format('woff2'),
         url('fonts/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-aileron-regular: 'aileronregular';

@font-face {
    font-family: 'aileronlight';
    src: url('fonts/aileron-light-webfont.woff2') format('woff2'),
         url('fonts/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-aileron-light: 'aileronlight';

@font-face {
    font-family: 'aileronbold';
    src: url('fonts/aileron-bold-webfont.woff2') format('woff2'),
         url('fonts/aileron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$font-aileron-bold: 'aileronbold';
