.home {
    background-color: $black;
    height: 90vh;
    overflow: hidden;
    position: relative;

    .logo {
        padding-left: 3rem;
        width: 400px;
    }

    .slogan {
        font-family: "heavitasregular";
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        width: 50%;
        z-index: 100;
    }

    .home-pattern-up-left {
        left: -70px;
        position: absolute;
        top: -50px;
        width: 400px;
    }

    .home-pattern-up-left-2 {
        left: 100px;
        position: absolute;
        top: -104px;
        width: 300px;
    }

    .home-pattern-bottom-left {
        bottom: -100px;
        left: -47px;
        position: absolute;
        width: 270px;
    }

    .home-pattern-bottom-left-2 {
        bottom: -44px;
        left: 150px;
        position: absolute;
        width: 100px;
    }

    .home-pattern-up-right {
        right: -38px;
        position: absolute;
        top: -35px;
        width: 300px;
    }

    .home-pattern-up-right-2 {
        right: 10px;
        position: absolute;
        top: -104px;
        width: 150px;
    }

    .home-pattern-bottom-right {
        bottom: -33px;
        right: 0px;
        position: absolute;
        width: 330px;
    }

    .home-pattern-bottom-right-2 {
        bottom: 65px;
        right: -120px;
        position: absolute;
        width: 206px;
    }

    @include media-breakpoint-down(sm) {
        .home-pattern-up-left {
            width: 250px;
        }

        .home-pattern-up-left-2 {
            left: 10px;
            top: -75px;
            width: 200px;
        }

        .home-pattern-bottom-left {
            width: 170px;
        }

        .home-pattern-bottom-left-2 {
            width: 70px;
            left: 40px;
        }

        .home-pattern-up-right {
            width: 190px;
        }

        .home-pattern-up-right-2 {
            bottom: 21px;
            right: -35px;
            width: 100px;
        }

        .home-pattern-bottom-right {
            width: 180px;
        }

        .home-pattern-bottom-right-2 {
            bottom: 65px;
            right: -51px;
            width: 120px;
        }

        .logo {
            padding-left: 2rem;
            width: 300px;
        }

        .slogan {
            font-size: 1.2rem;
            width: 80%;
        }

    }
}
