.intro {
    background-color: #fff;
    padding: 1rem;
    position: relative;
    z-index: 1000;

    .btn-buy-tickets {
        background-color: $violet;
        font-family: $font-heavitas;
        font-size: 1.2rem;
        margin: 3rem auto 1rem;
        padding: 0.6rem 2rem;
        text-transform: uppercase;

        &::before {
            content: '';
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $violet;
            height: 0;
            left: 48.6%;
            position: absolute;
            top: 33px;
            width: 0;
        }
    }

    .title {
        font-family: $font-neon;
        font-size: 4rem;
        margin: 1rem auto;
        text-align: center;
        text-transform: uppercase;
    }

    .intro-text {
        font-family: $font-aileron-regular;
        margin-top: 0.5rem;
        text-align: right;
    }

    .day-wrapper {
        text-align: center;

        .day {
            font-family: $font-heavitas;
            font-size: 2rem;
        }

        .day-number {
            font-family: $font-neon;
            font-size: 6rem;
            margin-top: -2.8rem;
        }

        .violet {
            color: $violet;
        }

        .cyan {
            color: $cyan;
        }
    }

    .day-info-wrapper {
        height: 120px;
        line-height: 1.2;
        margin-left: 1.5rem;
        padding: 1rem;
        text-align: center;

        &.violet-bg {
            background-color: $violet;

            &::before {
                content: '';
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right:10px solid $violet;
                height: 0;
                left: 90px;
                position: absolute;
                top: 33px;
                width: 0;
            }
        }

        &.cyan-bg {
            background-color: $cyan;

            &::before {
                content: '';
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right:10px solid $cyan;
                height: 0;
                left: 90px;
                position: absolute;
                top: 33px;
                width: 0;
            }
        }

        .day-info-title {
            font-family: $font-heavitas;
            text-transform: uppercase;
        }

        .day-info-subtitle {
            font-family: $font-aileron-regular;
            text-transform: uppercase;
        }
    }

    @include media-breakpoint-down(md) {
        .title {
            font-size: 3.2rem;
            line-height: 1;
        }

        .intro-text {
            text-align: center;
        }

        .day-container {
            align-items: center;
            justify-content: center;

            .day-wrapper {
                padding-top: 2rem;
            }

            .day-info-wrapper {
                &.violet-bg {
                    &::before {
                        left: 283px;
                        top: 50px;
                    }
                }

                &.cyan-bg {
                    &::before {
                        left: 266px;
                        top: 50px;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .day-container {
            .day-info-wrapper {
                &.violet-bg {
                    &::before {
                        left: 193px;
                    }
                }

                &.cyan-bg {
                    &::before {
                        left: 176px;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .day-container {
            .day-info-wrapper {
                &.violet-bg {
                    &::before {
                        left: 157px;
                    }
                }

                &.cyan-bg {
                    &::before {
                        left: 140px;
                    }
                }
            }
        }
    }

}
