$white: #fff;
$green: #7fe6a4;
$cyan: #00f1ea;
$magenta: #ff92ff;
$grey: #343536;

.investment {
    .summary {
        .row {
            margin: 0 auto;
            width: 65%;

            > div {
                text-align: center;
                &:nth-child(1) {
                    width: 20%;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 40%;
                }
            }

            &:nth-child(1) {
                font-family: $font-heavitas;
                font-size: 2rem;
                line-height: 2rem;
                margin-bottom: 1rem;
            }

            &:nth-child(2) {
                font-family: $font-aileron-regular;
                font-size: 1.7rem;
                line-height: 1.7rem;

                > div {
                    > div {
                        margin: 0 auto;
                        padding: 20px;
                    }

                    &:nth-child(1) {
                        > div {
                            background-color: $magenta;
                            width: 90%;
                        }
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        > div {
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            width: 90%;

                            > div {
                                &:nth-child(1),
                                &:nth-child(3) {
                                    width: 39%
                                }

                                &:nth-child(2) {
                                    width: 18%
                                }

                                &.plus-sign {
                                    font-family: $font-heavitas;
                                    font-size: 4rem;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        > div {
                            background-color: $light-green;
                        }
                    }
                    &:nth-child(3) {
                        > div {
                            background-color: $cyan;
                        }
                    }
                }
            }
        }
    }

    .subtitle {
        font-family: $font-neon;
        font-size: 4rem;
        margin-top: 3rem;
        text-align: center;
    }

    .only-mobile {
        display: none;
    }

    .pricing {
        margin: 0 auto;
        width: 90%;

        .col-left {
            padding-top: 16rem;

            h1 {
                font-family: $font-neon;
                font-size: 9rem;
            }

            p {
                font-family: $font-aileron-thin;
                font-size: 1.5rem;
                line-height: 1.7rem;
                width: 82%;
            }
        }

        .col-right {
            > div {
                align-content: center;
                display: flex;
                justify-content: flex-start;
            }

            .left-header {
                align-self: center;
                font-family: $font-heavitas;
                font-size: 1.4rem;
                line-height: 1.4rem;
                padding-right: 2rem;
                text-align: center;
                width: 13%;
            }

            .pseudo-table {
                width: 82%;

                .pt-row {
                    display: flex;

                    > div {
                        text-align: center;

                        &:nth-child(1) {
                            width: 15%;
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            width: 28.33%;
                        }
                    }
                }

                .header {
                    font-family: $font-aileron-bold;
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    text-transform: uppercase;

                    > div {
                        &:nth-child(1) {
                            font-size: 0.9rem;
                            line-height: 0.9rem;
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            align-self: flex-end;
                        }
                    }
                }

                .data {
                    font-family: $font-aileron-regular;
                    font-size: 1.7rem;
                    line-height: 3rem;
                    margin-bottom: 3px;

                    > div {
                        padding: 5px 0;

                        &:nth-child(1) {
                            background-color: transparent;
                            font-family: $font-aileron-bold;
                            font-size: 1rem;
                            margin-left: 2px;
                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            margin-left: 3px;
                        }
                    }
                }

                .magenta {
                    > div {
                        background-color: $magenta;
                        border: 2px solid $magenta;
                    }
                }

                .green {
                    > div {
                        background-color: $light-green;
                        border: 2px solid $light-green;
                    }
                }

                .cyan {
                    > div {
                        background-color: $cyan;
                        border: 2px solid $cyan;
                    }
                }
            }

            .last {
                .left-header {
                    width: 28%;
                }

                .pseudo-table {
                    .pt-row {
                        > div {
                            font-family: $font-aileron-regular;
                            font-size: 1.7rem;
                            width: 30.7%;
                        }
                    }

                    .magenta {
                        > div {
                            background-color: $magenta;
                        }
                    }

                    .green {
                        > div {
                            background-color: $light-green;
                        }
                    }

                    .cyan {
                        > div {
                            background-color: $cyan;
                        }
                    }
                }
            }
        }
    }

    .premium {
        background-color: $black;
        width: 100%;

        .pricing {
            .col-left,
            .col-right .left-header,
            .col-right .pseudo-table .header {
                color: white;
            }

            .col-right .pseudo-table .data > div:nth-child(1),
            .col-right .pseudo-table .header > div:nth-child(1) {
                color: $light-green;
            }

            .col-right .last .pseudo-table .green > div {
                color: black;
            }
        }
    }

    .workshops {
        .pricing {
            .col-right {
                .left-header {
                    width: 17%;
                }

                .pseudo-table .pt-row > div:nth-child(1) {
                    width: 17%;
                }

                .pseudo-table .pt-row > div:nth-child(2),
                .pseudo-table .pt-row > div:nth-child(3) {
                    width: 37.6%;
                }

                .last {
                    .left-header {
                        width: 37%;
                    }

                    .pseudo-table .pt-row > div {
                        width: 44.6%;
                    }
                }
            }
        }
    }

    @media (max-width: 1749px) {
        .summary .row {
            width: 95%;
        }
        .summary .row:nth-child(1) {
            font-size: 1.8rem;
        }
        .summary .row:nth-child(2) {
            font-size: 1.6rem;
        }
        .pricing {
            width: 100% !important;
        }
        .premium .pricing .col-left h1,
        .workshops .pricing .col-left h1 {
            font-size: 6rem;
        }
    }

    @include media-breakpoint-down(lg) {
        .summary {
            display: none;
        }
        .subtitle {
            font-size: 4.8rem;
            line-height: 4rem;
        }
        .pricing .col-left {
            margin-bottom: 2rem;
            padding-top: 0;
        }
        .pricing .col-left h1 {
            font-size: 11rem;
            text-align: center;
        }
        .pricing .col-left p {
            margin: 0 auto;
            text-align: center;
        }
    }

    @include media-breakpoint-down(md) {
        .only-mobile {
            display: block;

            .title {
                font-family: $font-aileron-thin;
                font-size: 2rem;
                line-height: 2rem;
                padding: 0 2rem;
                text-align: center;
            }

            .cnt {
                display: flex;
                margin: 2rem auto;
                width: 90%;

                .col {
                    width: 50%;

                    &.left {
                        background-color: $cyan;
                        font-family: $font-aileron-regular;
                        font-size: 2rem;
                        height: 15rem;
                        line-height: 2rem;
                        padding: 1rem 3rem;

                        &:after {
                            left: 100%;
                            top: 50%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            border-left-color: $cyan;
                            border-width: 30px;
                            margin-top: -30px;
                            z-index: 10;
                        }

                        span {
                            font-family: $font-aileron-bold;
                        }

                        hr {
                            margin-inline-start: unset;
                            width: 73%;
                        }
                    }

                    &.right {
                        background-color: $black;
                        color: white;
                        font-family: $font-aileron-thin;
                        font-size: 3rem;
                        line-height: 3rem;
                        padding: 3rem;
                    }
                }
            }

            .cnt-2 {
                display: flex;
                margin: 2rem auto;
                width: 90%;

                .col {
                    width: 50%;

                    &.right {
                        background-color: $light-green;
                        font-family: $font-aileron-regular;
                        font-size: 2rem;
                        height: 15rem;
                        line-height: 2rem;
                        padding: 1rem 3rem;

                        &:after {
                            right: 100%;
                            top: 50%;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-color: rgba(136, 183, 213, 0);
                            border-right-color: $light-green;
                            border-width: 30px;
                            margin-top: -30px;
                            z-index: 10;
                        }

                        span {
                            font-family: $font-aileron-bold;
                        }

                        hr {
                            margin-inline-start: unset;
                            width: 73%;
                        }
                    }

                    &.left {
                        background-color: $black;
                        color: white;
                        font-family: $font-aileron-thin;
                        font-size: 2.3rem;
                        line-height: 2.3rem;
                        padding: 3rem;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .subtitle {
            font-size: 4rem;
            line-height: 3rem;
        }
        .pricing .col-right {
            padding: 0;
        }
        .pricing .col-right > div {
            display: block;
        }
        .pricing .col-right .left-header {
            margin-bottom: 1rem;
            padding: 0;
            width: 100%;
        }
        .pricing .col-right .pseudo-table,
        .pricing .col-right .last .left-header {
            width: 100%;
        }
        .pricing .col-right .pseudo-table .header {
            font-size: 0.6rem;
        }
        .pricing .col-right .pseudo-table .header > div:nth-child(1) {
            font-size: 0.5rem;
        }
        .pricing .col-right .pseudo-table .data,
        .pricing .col-right .last .pseudo-table .pt-row > div,
        .pricing .col-right .last .pseudo-table .data > div:nth-child(1) {
            font-size: 1.2rem;
            line-height: 3rem;
            padding: 0;
        }
        .pricing .col-right .pseudo-table .data > div {
            padding: 0;
        }
        .pricing .col-right .pseudo-table .data > div:nth-child(1) {
            font-size: 0.8rem;
            line-height: 0.8rem;
            padding-top: 0.8rem;
        }
        .pricing .col-left {
            padding: 0;
        }
        .premium .pricing .col-left h1,
        .workshops .pricing .col-left h1 {
            font-size: 3.5rem;
        }
        .workshops .pricing .col-right .left-header,
        .workshops .pricing .col-right .last .left-header {
            width: 100%;
        }
    }
}
