.navbar {
    background-color: $black;
    padding: 0.5rem;

    .navbar-brand {
        color: #fff;
        font-family: $font-heavitas;
        font-size: 1.3rem;
        margin: 0;

        span {
            color: $violet;
        }
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    .nav-item {
        font-family: $font-heavitas;
        font-size: 1rem;
        line-height: 1;

        .nav-link {
            color: #fff !important;
            padding: 0.5rem 1rem;
        }

        &.active {
            font-family: $font-neon;
            font-size: 1.2rem;
            line-height: 0.8;
        }
    }

}

.empty-spacer {
    background-color: #fff;
    height: 2rem;
    position: relative;
    width: 100%;
    z-index: 1000;
}
