.modal {
    .modal-header {
        border: 0;
        padding: 0;

        button {
            background-color: #fff;
            height: 30px;
            width: 30px;
        }

        .close {
            margin-right: -1.5rem;
            opacity: 1;
            padding: 0;
            z-index: 10;
        }
    }

    .modal-content {
        background: linear-gradient(90deg, #fff 50%, $black 50%);
        border: 0;
        border-radius: 0;

        .modal-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5rem 7rem;

            img {
                height: 400px;
                width: 100%;
            }

            .modal-info-wrapper {
                display: flex;
                justify-content: center;
                width: 100%;

                .modal-info {
                    flex: 0 0 50%;
                    max-width: 50%;

                    h2 {
                        font-family: $font-heavitas;
                        margin-top: 2rem;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    &:last-child {
                        color: #fff;
                    }

                    p {
                        font-family: $font-aileron-regular;
                        line-height: 1.2;
                        padding: 1rem;
                        text-align: right;
                    }

                    .modal-social-media {
                        display: flex;
                        flex-direction: column;
                        margin-left: 1rem;

                        .social-media-item {
                            display: flex;
                            margin-top: 0.5rem;
                            overflow-wrap: break-word;

                            img {
                                color: #fff;
                                height: 25px;
                                margin-right: 0.5rem;
                                width: 25px;
                            }
                        }
                    }

                    .modal-subinfo {
                        align-items: center;
                        display: flex;
                        justify-content: center;

                        img {
                            height: 225px;
                            width: 160px;
                        }

                        .modal-postit {
                            height: 225px;
                            line-height: 1.2;
                            padding: 1rem 0.5rem;
                            position: relative;
                            width: 128px;

                            .keynote-time {
                                color: #373839;
                                font-family: $font-aileron-bold;
                            }

                            .keynote-title {
                                color: #231F20;
                                font-family: $font-heavitas;
                                font-size: 1rem;
                                text-transform: uppercase;
                            }

                            .keynote-speaker {
                                color: #231F20;
                                font-family: $font-aileron-light;
                                font-size: 1rem;
                            }

                            &.violet-bg-left {
                                background-color: $violet;

                                &::before {
                                    content: '';
                                    border-top: 15px solid transparent;
                                    border-bottom: 15px solid transparent;
                                    border-right:15px solid $violet;
                                    height: 0;
                                    position: absolute;
                                    left: -15px;
                                    top: 33px;
                                    width: 0;
                                }
                            }

                            &.cyan-bg-right {
                                background-color: $cyan;

                                &::before {
                                    content: '';
                                    border-top: 15px solid transparent;
                                    border-bottom: 15px solid transparent;
                                    border-left:15px solid $cyan;
                                    height: 0;
                                    right: -15px;
                                    position: absolute;
                                    top: 33px;
                                    width: 0;
                                }
                            }

                        }
                    }
                }
            }

            @include media-breakpoint-down(md) {
                padding: 5rem 3rem;
            }

            @include media-breakpoint-down(sm) {
                padding: 5rem 1rem;

                .modal-info {

                    h2 {
                        font-size: 1rem;
                    }

                    .modal-subinfo {
                        &:first-of-type {
                            justify-content: flex-end;
                        }

                        &:last-of-type {
                            justify-content: flex-start;
                        }

                        img {
                            display: none;
                        }

                        .modal-postit {
                            width: 100% !important;
                        }
                    }
                }
            }

        }


    }

    @include media-breakpoint-down(md) {
        .modal-header {
            .close {
                margin-right: 0;
                margin-top: 0rem;
            }
        }

        .modal-dialog {
            max-width: 650px;
        }
    }
}
