$white: #fff;
$green: #7fe6a4;
$cyan: #00f1ea;
$magenta: #ff92ff;
$grey: #343536;

.schedule {
    background-color: $white;
    padding: 0 4rem;

    .row {
        margin-right: 0;
    }

    .col-left {
        border-right: 1px solid black;
    }

    .title-day {
        color: #000;
        font-family: $font-neon;
        font-size: 5rem;
        line-height: 5rem;
        text-align: center;
        text-transform: uppercase;
    }

    .keynotes {
        font-family: $font-aileron-regular;
        margin-top: 4rem;
        width: 93%;

        tr {
            &.spacer {
                > td {
                    line-height: 3px;
                    padding: 0;
                }
            }
        }

        td {
            padding: 0.5rem;
            vertical-align: middle;

            &.spacer {
                border-bottom: 2px solid $white;
                border-top: 2px solid $white;
                width: 1rem;
            }

            &:nth-child(1) {
                font-size: 16px;
                font-family: $font-aileron-bold;
                text-align: center;
            }

            &:nth-child(3),
            &:nth-child(4) {
                font-size: 16px;
            }

            // &:nth-child(4) {
            //     padding-left: 1rem;
            // }
        }
    }

    .green-border {
        border: 2px solid $green;
    }
    .green-bg {
        background-color: $green;
    }
    .white-right-border {
        border-right: 3px solid white;
    }

    .workshops {
        font-family: $font-aileron-regular;
        // margin-left: 20px;
        margin-top: 4rem;
        width: 95%;

        thead {
            tr {
                &:nth-child(1) {
                    th {
                        background-color: #343536;
                        border-left: 5px solid $white;
                        color: white;
                        font-family: $font-heavitas;
                        font-size: 23px;
                        font-weight: normal;
                        padding: 5px 0;
                        text-align: center;
                        width: 27%;

                        &:nth-child(1),
                        &:nth-child(2) {
                            background-color: transparent;
                        }
                    }
                }

                &:nth-child(2) {
                    th {
                        font-size: 16px;
                        line-height: 16px;
                        padding: 10px 8px;
                        text-align: center;

                        &:nth-child(2) {
                            font-size: 1px;
                            padding: 0;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 16px;
                    padding: 6px 0;
                    text-align: center;
                    vertical-align: middle;

                    &:nth-child(1) {
                        font-family: $font-aileron-bold;
                    }
                    &:nth-child(2) {
                        font-size: 1px;
                    }
                    &:nth-child(3) {
                        font-size: 16px;
                    }
                }

                &.special {
                    td {
                        font-family: $font-aileron-bold;
                        font-size: 16px;
                        line-height: 16px;
                        padding: 20px 0;
                    }
                }
            }
        }
    }

    .cyan-border {
        border: 2px solid $cyan;
    }
    .cyan-bg {
        background-color: $cyan;
        border-bottom: 2px solid $cyan;
        border-top: 2px solid $cyan;
    }
    .magenta-border {
        border: 2px solid $magenta;
    }
    .magenta-bg {
        background-color: $magenta;
        border-bottom: 2px solid $magenta;
        border-top: 2px solid $magenta;
    }

    @include media-breakpoint-down(lg) {
        padding: 0;

        .col-left {
            border: 0;
        }

        .title-day {
            font-size: 3.5rem;
            line-height: 1;
        }

        .workshops {
            margin-left: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        .workshops {
            font-family: $font-aileron-regular;
            margin-top: 4rem;
            width: 95%;

            thead {
                tr {
                    &:nth-child(1) {
                        th {
                            font-size: 1rem;
                        }
                    }

                    &:nth-child(2) {
                        th {
                            font-size: 0.8rem;
                            line-height: 1;
                            padding: 10px 8px;
                        }
                    }
                }
            }
        }
    }
}

.schedule-static {
    .title-day {
        color: #000;
        font-family: $font-neon;
        font-size: 5rem;
        line-height: 5rem;
        margin-top: 2rem;
        text-align: center;
        text-transform: uppercase;
    }

    img {
        margin-top: 1rem;
        width: 80%;
    }

    .schedule-static-text {
        line-height: 1.2;
        margin-top: 2rem;
        padding: 2rem;
        text-align: center;

        h4 {
            font-family: $font-heavitas;
            text-transform: uppercase;
        }

        hr {
            width: 50%;
        }
    }

    .violet-bg {
        background-color: $violet;
    }

    .cyan-bg {
        background-color: $cyan;
    }

    @include media-breakpoint-down(md) {
        .title-day {
            font-size: 3.5rem;
            line-height: 1;
        }

        img {
            width: 95%;
        }
    }

    @include media-breakpoint-down(sm) {
        .schedule-static-text {
            margin-top: 0;

            &:first-child {
                margin-top: 2rem;
            }
        }
    }
}
