.speakers {
    .speaker {
        flex: 0 0 20%;
        margin: 2rem 0 1rem;
        max-width: 20%;

        img {
            width: 100%;
        }

        .speaker-name {
            align-items: center;
            display: flex;
            font-family: $font-heavitas;
            justify-content: center;
            min-height: 62px;
            padding: 0.5rem;
            text-align: center;
            text-transform: uppercase;

            &.violet-bg {
                background-color: $violet;
            }

            &.cyan-bg {
                background-color: $cyan;
            }

            &.light-green-bg {
                background-color: $light-green;
            }
        }
    }


    @include media-breakpoint-down(sm) {
        padding: 0;

        .speaker {
            flex: 0 0 44%;
            margin: 2rem 0.5rem 1rem;
            max-width: 44%;

            .speaker-name {
                font-size: 0.7rem;
            }
        }
    }
}
