.sponsors {
    .sponsor {
        flex: 0 0 18%;
        margin: 2rem 0.5rem 1rem;
        max-width: 18%;

        img {
            width: 100%;
        }
    }


    @include media-breakpoint-down(sm) {
        .sponsor {
            flex: 0 0 44%;
            margin: 2rem 0.5rem 1rem;
            max-width: 44%;
        }
    }
}
